
  <ion-view  title="O aplikaciji">
      
	  <ion-content class="has-header padding" has-bouncing="false" scrollbar-x="false" direction="y">
	    
		<h1 class="header">Namen sloRock mobilne aplikacije</h1>

	    Lorem ipsum dolor sit amet consectetuer sem tempus mollis In orci. Facilisi et lacinia Suspendisse et risus sapien enim scelerisque Nunc condimentum. Mattis sapien fringilla iaculis gravida Aenean condimentum aliquam tempus Cras vel. Interdum sem montes ut lacinia aliquet euismod Curabitur ipsum laoreet at. Nibh lorem lobortis felis at adipiscing justo id interdum neque nec. Congue consectetuer Pellentesque ut et turpis porttitor cursus quis.

	    <br />
	    <br />
	    
	    Quisque vel tortor est ac ipsum Vestibulum id eleifend justo tempor. Id id leo Nam quis pellentesque arcu Morbi gravida lacinia Aenean. Ut et Nam Morbi eu congue dui habitasse et nunc sem. Fames Phasellus vitae Aenean nec Vivamus dapibus Nunc nisl sodales Nullam. Ac lacus sem Curabitur risus ullamcorper tempor leo pretium ac pede. Semper leo ligula Phasellus laoreet lacus consequat senectus.
	    
		<h1 class="header">Avtorji</h1>

	    Lorem ipsum dolor sit amet consectetuer sem tempus mollis In orci. Facilisi et lacinia Suspendisse et risus sapien enim scelerisque Nunc condimentum. Mattis sapien fringilla iaculis gravida Aenean condimentum aliquam tempus Cras vel. Interdum sem montes ut lacinia aliquet euismod Curabitur ipsum laoreet at. Nibh lorem lobortis felis at adipiscing justo id interdum neque nec. Congue consectetuer Pellentesque ut et turpis porttitor cursus quis.

	    <br />
	    <br />
	    
	    Quisque vel tortor est ac ipsum Vestibulum id eleifend justo tempor. Id id leo Nam quis pellentesque arcu Morbi gravida lacinia Aenean. Ut et Nam Morbi eu congue dui habitasse et nunc sem. Fames Phasellus vitae Aenean nec Vivamus dapibus Nunc nisl sodales Nullam. Ac lacus sem Curabitur risus ullamcorper tempor leo pretium ac pede. Semper leo ligula Phasellus laoreet lacus consequat senectus.
	    
	    <h1 class="header">Drugo</h1>

	    Lorem ipsum dolor sit amet consectetuer sem tempus mollis In orci. Facilisi et lacinia Suspendisse et risus sapien enim scelerisque Nunc condimentum. Mattis sapien fringilla iaculis gravida Aenean condimentum aliquam tempus Cras vel. Interdum sem montes ut lacinia aliquet euismod Curabitur ipsum laoreet at. Nibh lorem lobortis felis at adipiscing justo id interdum neque nec. Congue consectetuer Pellentesque ut et turpis porttitor cursus quis.

	    <br />
	    <br />
	    
	    Quisque vel tortor est ac ipsum Vestibulum id eleifend justo tempor. Id id leo Nam quis pellentesque arcu Morbi gravida lacinia Aenean. Ut et Nam Morbi eu congue dui habitasse et nunc sem. Fames Phasellus vitae Aenean nec Vivamus dapibus Nunc nisl sodales Nullam. Ac lacus sem Curabitur risus ullamcorper tempor leo pretium ac pede. Semper leo ligula Phasellus laoreet lacus consequat senectus.
	    
	    Lorem ipsum dolor sit amet consectetuer sem tempus mollis In orci. Facilisi et lacinia Suspendisse et risus sapien enim scelerisque Nunc condimentum. Mattis sapien fringilla iaculis gravida Aenean condimentum aliquam tempus Cras vel. Interdum sem montes ut lacinia aliquet euismod Curabitur ipsum laoreet at. Nibh lorem lobortis felis at adipiscing justo id interdum neque nec. Congue consectetuer Pellentesque ut et turpis porttitor cursus quis.
		

	  </ion-content>

  </ion-view>
    