
  <ion-view title="Informacije">
    <ion-content class="has-header padding" has-bouncing="false" scrollbar-x="false" direction="y">
      
	    <br />
	    Za VSE informacije uporabite spodnji email:
	    <br />
	    <br />
		<a href="mailto:info@slorock.si">info@slorock.si</a>
		<br />
		<br />
		Za predstavitev oz. predvajanje na radiu S, pošljite CD-je, demote in ves promocijski material, pošljite na:
		<br />
		<br />
		SLO ROCK
		<br />
		RAIČEVA 95
		<br />
		1000 LJUBLJANA
		<br />
		<br />
		oziroma mp3-je na:
		<br />
		<br />
		<a href="mailto:info@slorock.si">info@slorock.si</a>
	      
    </ion-content>
  </ion-view>
    